<launch>
       <arg name="view_cameras" default="true"/>
       <include file="$(find nist_cal)/launch/single_camera.launch" >
          <arg name="camera_number" value="2"/>
	  <arg name="camera_id" value="21565452"/>
	  <arg name="view_cameras" value="$(arg view_cameras)"/>
                 <arg name="acquisition_rate" value="20"/>
        </include>

</launch>