<?xml version="1.0" ?>
<launch>

     <include file="$(find nist_cal)/launch/nist_cameras.launch" >
          <arg name="view_cameras" value="true"/>
     </include>
     <!--include file="$(find nist_cal)/launch/single_camera.launch" >
          <arg name="camera_number" value="1"/>
          <arg name="camera_id" value="21499591"/>
     </include-->


    <!-- Launch service which when called will move robot and then indicate scene is ready   -->
    <node pkg="industrial_extrinsic_cal" type="ros_robot_trigger_action_service" name="rosRobotSceneTrigger" output="screen" />

    <!-- Launch the extrinsic calibration service -->
    <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
       <param name="yaml_file_path" value="$(find nist_cal)/yaml/"/>
       <rosparam>
          camera_file: "nist_cameras.yaml"
          target_file: "nist_targets.yaml"
          cal_job_file: "nist_caljob.yaml"
          store_results_package_name: "industrial_extrinsic_cal"
          store_results_file_name: "world_to_basler_tf_broadcaster.launch"
        </rosparam>
    </node>

    <!-- NOTE ONE STILL NEEDS TO CALL THE CALIBRATION SERVICE -->

</launch>
